@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter{
  font-family: "Inter", sans-serif;
}
.miama{
    font-family: 'Miama', sans-serif;
    font-size: 9rem;
    font-weight: 400;
}
body{
    background: rgb(0, 0, 0);
}
*{
    margin: 0;
}
/* shared styles */
.btn-primary{
    border-radius: 42px;
    border: none;
    background: rgb(230, 83, 60);
    
}
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    padding-top: 59px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    
}
.nav-container h3{
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
.nav-option{
   display: flex;
   gap: 47px;
   color: white;
   font-size: 1.125rem;
   padding: 11px 5px;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 39px;
   
}
.nav-option span{
    font-size: 1.125rem;
    font-weight: 600;
    padding: 8px 20px;
}
.about{
    margin-right: 26px;
}

/* banner styles */
.banner-container{
    width: 70%;
    margin: 0rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 32px;
}
.banner-title{
    font-size: 4.875rem;
    font-weight: 900;
    line-height: 120%;
    color: rgb(255, 255, 255)
}
.banner-detail{
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.5rem;
    margin-top:28px ;
    width: 520px;
}
.banner-btn{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    width: 224px;
    margin-right: 14px;
    margin-top: 28px;
    
}
.download{
    
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background-color: rgba(119, 119, 119, 0)

}

.video-tutorial{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    
   
    position: absolute;
    
    left: 1020px;
    top: 556px;
    text-align:left;
    padding-left:70px ; 
    
    
    
}
.video-tutorial h2{
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 1px;
}
.video-tutorial p{
    color: rgba(255,255,255,.65);
    font-size: 1rem;
    letter-spacing: 1px;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;   
    background-color: rgb(230, 83, 60);
    position: absolute;
    left: 1035px;
    top: 584px;
    border: none;
}

.free-video h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 1px;
}

.free-video p{
    color: rgba(255,255,255,.65);
    font-size: .8125rem;
    letter-spacing: 1px;
}

.free-video{
    width: 193px;
    height: 98px;
    position: absolute;
    
    left: 1350px;
    top: 260px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(48, 48, 48, 0.54);
   


    border-radius: 12px;
    backdrop-filter: blur(5px);
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    text-align: left;
    padding-left:24px ;
    /* padding-top: 17px; */
    padding-bottom: 17px;
    
}

/* main styles */

 /* change your habit  */

 .habit-container{
    width: 70%;
    margin: 150px auto;

 }

 .img-circle{
    border-radius: 50%;
 }
 
.habit-image-container{
    display: flex;
    
    text-align: center;
}


.img h3{
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 8px;
     
}
.img p{
    font-size: .875rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height: 20px;
   
}

.habit-title{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-bottom:14px;
}
.habit-detail{
    font-size: .875rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom:58px
}

/* Run an Extra Mile Easily */
.run-section{
    background-color:  rgb(34, 34, 34);
    border-radius: 18px;
    width: 70%;
    margin: 150px auto;
}
.run-container{
    display: flex;
    
    align-items: center;
    padding: 40px 60px;
}

.run-img img{
    background-image: url(images/run.jpg);
    background-repeat: no-repeat;
    width: 366px;
    height: auto;
    border-radius: 18px;
    
}

.run-title{
    color: white;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}

.run-detail{
    font-size: .875rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    width: 70%;
    /* margin: 0 auto; */
}

/* BMI calculation */

/* chart */
.BMI-section{
    width: 70%;
    margin: 100px auto;
}
.BMI-chart th{
    font-weight: 500;
    color: white;
}
table{
   color: rgba(255, 255, 255, 0.5);
   font-size: .875rem;
   border-collapse: collapse;
   text-align: center;
   border:1px solid rgba(255, 255, 255, 0.1);
   width: 310px;
   
}

th, td {
    padding: 20px;
    text-align: left;
}  

/* BMI-title */
.BMI{
    /* text-align: center; */
}
.BMI-title{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.detail{
    color: rgba(255, 255, 255, 0.5);
    font-size: .875rem;
    
}
.BMI-calculate{
    background-color: rgb(34, 34, 34);
    /* width: 100%; */
}

.BMI-h2{
    font-size: 1.75rem;
    font-weight: 900;
    color: white;
}



/* BMi calculate */

.BMI-p{
    margin-top: 14px ;
    margin-bottom: 34px;
}
.BMI-input-option{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
    /* font-size: 1rem; */
    
}
select,input{
    
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    
}
input::placeholder{
    color: rgba(255, 255, 255, 0.6);

}
.BMI-input-option input,select{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 18px 30px;
}

#factor{
    padding: 15px 30px;
    grid-column: span 2;
}

.p{
    color: rgba(255, 255, 255, 0.5);
    font-size: .875rem;
}

.BMI-section{
    display: flex;
    justify-content: space-between;
    padding: 52px 190px;
}


/* our team */
.team-container{
    width: 70%;
    margin: 100px auto;
}
.team-img{
    /* width: 20% */
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
